<!DOCTYPE HTML>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
		<link href="{{STATIC_URL}}img/favicon.png" type="image/x-icon" rel="icon" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/foundation_icons/foundation-icons.css" type="text/css"/>
		<script src="{{STATIC_URL}}js/mustache.js"></script>
		<script src="{{STATIC_URL}}js/modernizr.js"></script>
		<script src="{{STATIC_URL}}js/jquery-2.0.0.js"></script>
		<script src="{{STATIC_URL}}js/foundation/foundation.js"></script>
		<script src="{{STATIC_URL}}js/foundation/foundation.orbit.js"></script>
		<script src="{{STATIC_URL}}js/foundation/foundation.reveal.js"></script>
		<script src="{{STATIC_URL}}js/foundation/foundation.dropdown.js"></script>
		<script>
			$(document).ready(function(){
				$(document).foundation();				
			});
		</script>
		{% block includes %}
		{% endblock includes %}
	</head>
	<body>
		{% block content %}

		{% endblock content %}		
	</body>
</html>
