{% extends "base_home.html" %}

{% block includes %}
    <link href="{{STATIC_URL}}css/change_password.css" rel="stylesheet" />
{% endblock %}

{% block home_content %}
{% load i18n %}

    <div class="row">
    	<h1>{% trans 'title_change_password' %}</h1>    	
    </div>
    <div class="row">
    	<div class="large-7 columns">
    		<div class="panel">
    			<form method="post" action="{% url 'main.views.users.change_password' %}">
    				{% csrf_token %}
    				{{form.non_field_errors}}
    				<label for="old_password">{% trans 'lbl_old_password' %}</label>
						{{form.old_password.errors}}
    					{{form.old_password}}
    				<label for="old_password">{% trans 'lbl_new_password' %}</label>
						{{form.new_password.errors}}
    					{{form.new_password}}
    				<label for="new_password_repeat">{% trans 'lbl_repeat_new_password' %}</label>
						{{form.new_password_repeat.errors}}
    					{{form.new_password_repeat}}
    				<button>{% trans 'btn_change_password' %}</button>
    			</form>
    		</div>
    	</div>    	
    </div>    
{% endblock %}
