{% extends "base_home.html" %}

{% block includes %}
    <link href="{{STATIC_URL}}css/recover_password.css" rel="stylesheet" />
{% endblock %}

{% block home_content %}
{% load i18n %}

<div class="row">
	<div class="large-12 columns">
		<h1>{% trans 'title_recover_password' %}</h1>
	</div>
</div>
<div class="row">
	<div class="large-5 columns">
		<form action="/recover-password" method="post">
			{% csrf_token %}
			{{form.non_field_errors}}
			<label for="email">{% trans 'lbl_enter_your_email' %}</label>			
				{{form.email.errors}}
				{{form.email}}
			<button>
				{% trans 'btn_send_recover_email' %}
			</button>
		</form>
	</div>
</div>
{% endblock %}
