<link rel="stylesheet" href="{{STATIC_URL}}css/themes/theme_{{theme_id}}.css" type="text/css" media="screen" title="no title" charset="utf-8"/>

<style type="text/css" media="screen">
	body{
		margin: 0;
		margin-left: 4px;
	}
</style>

<div class="title">Title</div>

<div class="subtitle">Subtitle</div>

<a href="#" class="link">Link</a>

<div class="body">
    Lorem ipsum dolor sit amet, dictas inermis dolores et cum, eros integre ut mea. Vel solum prompta prodesset ne, duo ex wisi illum. Eruditi neglegentur has in, eos ad quem regione, probo graeci efficiendi eu vel. Nec ea decore labitur salutandi.	
</div>
