@import 'base'

.side-nav
	li.active > a
		&:first-child		
			font-weight bold
			color $primary_color

.presentation
	border 1px solid #b5adad

	.container
		height 120px
		
	.title
		position absolute
		font-weight bold
		padding-left 2%
		color $primary_color
	
	.options
		background-color: rgba(0, 0, 0, 0.45)
		visibility hidden		

	.btn-view
		font-size 2.2em
		padding-left 10px
		padding-right 10px
		padding-top 0px
		padding-bottom 0px
		
	.btn-edit
		font-size 2.2em
		padding-left 10px
		padding-right 10px
		padding-top 0px
		padding-bottom 0px
		
	.btn-delete
		font-size 2.2em
		padding-left 10px
		padding-right 10px
		padding-top 0px
		padding-bottom 0px			