.errorlist {
  list-style: none;
  color: #f00;
  margin-bottom: 0px;
}
.button,
button {
  background-color: #005212;
  border: 0px;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
.button:hover,
button:hover,
.button:focus,
button:focus {
  background-color: #2e8947;
}
.button.secondary,
button.secondary {
  color: #005212;
}
a {
  color: #005212;
}
a:hover {
  color: #2e8947;
}
.side-nav li a {
  display: block;
  color: #005212;
}
.label {
  background-color: #005212;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#logo {
  margin-top: 1%;
  margin-bottom: 2%;
}
header {
  margin-bottom: 30px;
}
footer {
  margin-top: 40px;
  margin-bottom: 40px;
}
#main {
  margin-bottom: 40px;
}
.orbit-slides-container li {
  height: 350px;
}
.orbit-container .orbit-timer .orbit-progress {
  height: 3px;
  background-color: #005212;
  display: block;
  width: 0%;
  position: relative;
  right: 20px;
  top: 5px;
}
.orbit-prev,
.orbit-next,
.orbit-slide-number {
  background-color: rgba(0,0,0,0.3);
}
/* Slider icons */
#slide-welcome #title-welcome {
  position: absolute;
  top: 17%;
  left: 8%;
  color: #005212;
}
#slide-welcome #icon-welcome {
  width: 26%;
  position: absolute;
  right: 12%;
  top: 55%;
}
#slide-create-and-share #title-create-and-share {
  position: absolute;
  top: 14%;
  left: 11%;
  color: #005212;
}
#slide-create-and-share #icon-create-and-share {
  position: absolute;
  right: 13%;
  bottom: 14%;
  width: 40%;
}
#slide-effects #title-effects {
  position: absolute;
  top: 36%;
  left: 7%;
  color: #005212;
}
#slide-collaborative #title-collaborative {
  position: absolute;
  top: 20%;
  left: 7%;
  color: #005212;
}
#slide-collaborative #icon-collaborative {
  position: absolute;
  width: 19%;
  right: 25%;
  bottom: 12%;
}
#slide-html5-css3 #title-html5-css3 {
  position: absolute;
  left: 7%;
  top: 10%;
  color: #005212;
}
#slide-html5-css3 #icon-html5-css3 {
  position: absolute;
  width: 52%;
  right: 18%;
  bottom: 10%;
}
#slide-no-flash #title-no-flash {
  position: absolute;
  top: 15%;
  left: 7%;
  color: #005212;
}
#slide-no-flash #icon-no-flash {
  position: absolute;
  width: 33%;
  right: 21%;
  bottom: 12%;
}
#slide-any-device #title-any-device {
  position: absolute;
  top: 13%;
  left: 9%;
  color: #005212;
}
#slide-any-device #icon-any-device {
  position: absolute;
  width: 39%;
  right: 11%;
  bottom: 16%;
}
#slide-download #title-download {
  position: absolute;
  top: 15%;
  left: 9%;
  color: #005212;
}
#slide-download #icon-download {
  position: absolute;
  width: 32%;
  right: 15%;
  bottom: 14%;
}
#btn-get-started {
  width: 100%;
  font-size: 2em;
}
#btn-get-started label {
  color: #ccc;
  margin: 0;
}
#btn-sign-up {
  width: 100%;
  font-size: 1.5em;
}
#presentations {
  background-color: #ebebeb;
  padding-top: 3%;
  padding-bottom: 3%;
}
.presentation-preview {
  margin-bottom: 20px;
}
#collaborate {
  font-size: 1.3em;
  font-weight: bold;
}
#btn-search {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 1.5em;
}
.title-result {
  margin-bottom: 40px;
  display: none;
}
.presentation {
  border: 1px solid #b5adad;
  height: 180px;
}
.presentation .title {
  position: absolute;
  font-weight: bold;
  padding-left: 2%;
  color: #005212;
}
